<section class="section-padding hero-section">
  <div class="container hero-container">
    <div class="hero-content">
      <div class="info-tag__wrapper">
        <div class="pseudo-element-anchor">
          <h3 class="info-tag">Безоплатний вебінар</h3>
        </div>
        <div class="pseudo-element-anchor">
          <h3 class="info-tag">Старт:&nbsp;<strong>10 квітня 19:30</strong></h3>
        </div>
      </div>
      <h1 class="page-title">
        Навчіться створювати Excel-таблиці на pro-рівні
      </h1>
      <p class="hero-text">
        Опануйте функціонал Microsoft Excel, автоматизуйте свою роботу та
        створюйте таблиці швидко і в задоволення
      </p>
    </div>

    <div class="signup-box">
      <h2 class="signup-box__title">Реєструйся просто зараз</h2>

      <div class="timer">
        <div class="timer-field">
          <span class="timer-field__value" data-days>00</span>
          <span class="timer-field__label">днів</span>
        </div>

        <div class="timer__separator">:</div>

        <div class="timer-field">
          <span class="timer-field__value" data-hours>00</span>
          <span class="timer-field__label">годин</span>
        </div>

        <div class="timer__separator">:</div>

        <div class="timer-field">
          <span class="timer-field__value" data-minutes>00</span>
          <span class="timer-field__label">годин</span>
        </div>

        <div class="timer__separator">:</div>

        <div class="timer-field">
          <span class="timer-field__value" data-seconds>00</span>
          <span class="timer-field__label">секунд</span>
        </div>
      </div>

      <div class="hero__form-container">
        <form class="signup-form">
          <label>
            <input
              type="text"
              class="main-input"
              name="userName"
              placeholder="Введи своє ім'я"
              minlength="3"
              title="Введіть своє ім'я"
              required
            />
          </label>
          <label>
            <input
              type="email"
              class="main-input"
              name="userEmail"
              placeholder="Введи свій E-mail"
              required
            />
          </label>
          <label class="phone-label">
            <input
              type="tel"
              class="main-input phone-input"
              name="phoneNumber"
              placeholder="+380 95 -- -- ---"
              pattern="(?:\+?38)?0[0-9]{9}"
              title="Вкажіть номер в форматі +380XXXXXXXXX"
              required
            />
            <svg class="country-icon" width="24" height="16">
              <use href="/img/sprite.svg#icon-flag"></use>
            </svg>
          </label>
          <label class="checkbox-label">
            <input
              type="checkbox"
              class="checkbox"
              name="privacyAccept"
              required
            />
            <span class="checkbox-descr">
              Згоден з
              <a href="#" target="_blank">Політика конфеденційності</a> та
              <a href="#" target="_blank">Умови користування послугами</a>
            </span>
          </label>
          <button type="submit" class="main-btn signup-form__btn">
            Зареєструватися
          </button>
        </form>
      </div>

      <button type="button" class="main-btn open-modal-btn js-open-modal">
        Зареєструватися
      </button>
    </div>
  </div>
</section>
