.section-padding {
  padding-top: 66px;
  padding-bottom: 40px;
}

.container {
  min-width: 320px;
  max-width: 320px;
  margin: 0 auto;
}

.page-title {
  @include font(32, 40);
  font-weight: 700;
}

.main-btn {
  @include font(16, 24);
  font-weight: 700;

  display: flex;
  justify-content: center;
  align-items: center;

  color: $_secondary_color;
  padding: 16px 24px;
  height: 56px;

  background-color: $_main_accent_color;
}

.main-input {
  @include font(16, 24);
  padding: 12px 16px;
  width: 100%;
  height: 48px;

  background-color: #f2f4fa;
}

.main-input::placeholder {
  color: #767b8e;
}

@include media(tablet) {
  .section-padding {
    padding-top: 81px;
    padding-bottom: 81px;
  }

  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .page-title {
    @include font(36, 44);
  }

  .main-btn {
    padding-top: 20px;
    padding-bottom: 20px;
    height: 64px;
  }
}

@include media(desktop) {
  .section-padding {
    padding-top: 110px;
    padding-bottom: 110px;
  }

  .container {
    max-width: 1440px;
    padding-left: 112px;
    padding-right: 112px;
  }

  .page-title {
    @include font(56, 68);
  }

  .main-input {
    background-color: #f5f5f5;
  }
}
