.header {
  position: absolute;
  top: 20px;
  width: 100%;
}

.logo {
  cursor: pointer;
}

@include media(tablet) {
  .header {
    top: 29px;
  }
}

@include media(desktop) {
  .header {
    top: 40px;
  }
}
